# Development files
.github/
.vscode/
.cursorrules
.gitignore
AGENTS.md

# Agent files
.agent/
.agents/

# Husky
.husky/

# Tests
test/

# Docs config
jsdoc.json

# Dependencies
node_modules/

# Development configs
biome.json
!template/biome.json
